@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

* {
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    background-image: linear-gradient(gold, rgb(221, 172, 35));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}

header{
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    background-color: rgba(0, 0, 255, 0.151);
    padding: 16px;
    align-items: center;

}
.logo{
    display: flex;
    align-items: center;
    margin-right: 8px;

}
nav a{
    font-weight: 56px;
    padding-right: 8px;
    
}
a{
    text-decoration: none;
    color: black;
}
nav a :hover{
    color: rebeccapurple;
}

.MainPage{
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 128px repeat(4,1fr) 128px;
    grid-template-rows: 48px   0.75fr 240px 1fr;
    grid-template-areas: 
    "lado1    c0    c0       c0      c0      lado2"
    "lado1    c1     c1      c2      c2      lado2"
    "lado1    c4     c6      c8      c10     lado2"
    "lado1    c5     c7      c9      c11     lado2";
    gap: 8px 8px;
    padding-right: 0px;
}

.apartado1{
    grid-area: c0;
    border:2px solid salmon;
}
.apartado1 h2{
    margin-inline-start: 8px;
}
.caja1{
    grid-area:c1;
    margin-bottom: 0.75rem
}
.img1 img{
    width:100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    object-fit: cover;
}
.caja2{
    border:2px solid rgb(158, 209, 17);
    grid-area: c2;
    margin-bottom: 1rem
}
.contenido_caja2{
    text-indent: 10px;
    width: 99%;
    height: 99%;
}
.contenido_caja2 p{
    text-align: justify;
    margin-top: 50px;
    height: 90%;
    width: 90%;
    margin-left: 8px;
        
}

.caja4{
    border:2px solid rgb(74, 8, 117);
    grid-area: c4;
    

}
.caja4 img{
    width:100%;
    overflow: auto;
}
.contenido_caja4{
    text-indent: 15px;  
    width: 100%;
    height: 100%;
}
.caja5{
    border:2px solid rgb(52, 32, 141);
    grid-area: c5;
    background-image: url("/Images/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.caja6{
    border:2px solid rgb(204, 22, 143);
    grid-area: c6;
}
.caja6 img{
    width:100%;
    overflow: auto;
}
.contenido_caja6{
    text-indent: 15px;  
    width: 100%;
    height: 100%;
}
    .caja7{
    border:2px solid rgb(214, 48, 48);
    grid-area: c7;
    background-image: url(/Images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.caja8{
    border:2px solid rgb(204, 124, 18);
    grid-area: c8;

}
.caja8 img{
    width:100%;
    overflow: auto;
}
.contenido_caja8{
    text-indent: 15px;  
    width: 100%;
    height: 100%;
}
.caja9{
    border:2px solid rgb(214, 48, 48);
    grid-area: c9;
    background-color: yellowgreen;
}
.caja10{
    border:2px solid rgb(57, 33, 80);
    grid-area:c10;
}
.caja10 img{
    width:100%;
    overflow: auto;
}
.contenido_caja10{
    text-indent: 15px;  
    width: 100%;
    height: 100%;
}
.caja11{
    grid-area:c11;
    background-color: aqua;

}
.lado1{
    grid-area:lado1;
    border: 2px solid green;
}
.lado2{
    border:2px solid rgb(19, 136, 81);
    grid-area: lado2;

}
/*POLITICA*/
.Politica{
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    border: 2px solid black;
    margin-top: 24px;
    display:grid;
    grid-template-columns: 128px repeat(2, 1fr) 1fr repeat(2, 1fr)  128px;
    grid-template-rows: 48px repeat(3, 1fr);
    grid-template-areas: 
    "margen1    apartado2   apartado2   apartado2   apartado2   apartado2   margen2" 
    "margen1    sector1     sector1     sector2     contenedor5 contenedor5 margen2"
    "margen1    sector1     sector1     sector3     contenedor5 contenedor5 margen2"
    "margen1    sector1     sector1     sector4     contenedor6 contenedor7 margen2";
    
    gap: 8px 8px;

}
.apartado2{
    grid-area:apartado2;
    background-color: cadetblue;
    border: 2px solid black;
}
.apartado2 h2{
    margin-inline-start: 8px;
}
.sector1{
    grid-area:sector1;
    border: 2px solid black;
}
.sector1 img{
    align-content: center;
    justify-content: center;
    width: 100%;
    padding: 5px 5px;
    object-fit: cover;
}
.sector1 p{
    padding: 10px 10px;
    width: 100%;
    
}
.sector2{
    grid-area:sector2;
    background-image: url(/Images/aysa.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
    display: flex;
    align-items: baseline;
    position: relative;
    transition: all .6s;
}
.sector2:hover{
    transform: scale(2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.sector2 div{
    background-color: rgba(7, 6, 6, 0.301);
    width: 100%;
    padding: 4px 4px;
    bottom: 0;
    position: absolute;
    text-shadow: 0px;
    color: rgb(245, 220, 220);
   
}
.sector2 a{
    color: white;
}
    

.sector3{
    grid-area:sector3;
    background-color: silver;
    border: 2px solid black;
}
.sector4{
    grid-area:sector4;
    border: 2px solid black;
    background-color: greenyellow;
}
.sector5{
    grid-area: contenedor5;
    border: 2px solid black;
    border-color: forestgreen;
}
.sector6{
    grid-area: contenedor6;
    border: 2px solid black;
    background-color: rgb(204, 22, 143);
}
.sector7{
    grid-area: contenedor7;
    border: 2px solid black;
    background-color: aquamarine;
}
.margen1{
    grid-area: margen1;
    border: 2px solid black;
}
.margen2{
    grid-area: margen2;
    border: 2px solid black;
}

/*DESTACADOS*/
.Destacados{
border: 2px solid black;
margin-top: 24px;
min-height: 100vh;
display:grid;
grid-template-columns: 128px repeat(3,1fr) 128px;
grid-template-rows: 48px 1fr;
grid-template-areas: 
"dm1   d1    d1     d1  dm2"
"dm1   d2    d3     d4  dm2";
gap: 8px 8px;

}
.apartado3{
    grid-area: d1;
    background-color: rgb(255, 145, 0);
    border: solid 2px black;
}
.apartado3 h2{
    margin-inline-start: 8px;
}
.d2{
    grid-area: d2;
    background-color: blue;
}
.d3{
    grid-area: d3;
    background-color: aqua;
}
.d4{
    grid-area: d4;
    background-color: green;
}
.dm1{
    grid-area: dm1;
    background-color: gray;
}
.dm2{
    grid-area: dm2;
    background-color: gray;
}
.pie{
    grid-area: pie;
    background-color: black;
}

.volver{
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    background-color: rgba(0, 0, 255, 0.151);
    padding: 16px;
    align-items: center;
    justify-content: center;
    color: rgb(247, 242, 235);

}
/*VISTA MOBILE*/
@media screen and (max-width: 480px){
    header{
        flex-direction: column;

    }
    nav{
        padding: 10px 0px;
    }

    .MainPage{
        border: 2px solid black;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px repeat(6,1fr);
        grid-template-areas: 
        "c0     c0"
        "c1     c1"
        "c2     c2"
        "c4     c4"
        "c6     c6"
        "c8     c8"
        "c10    c10";
    }
    .lado1{
        display: none;
    }
    .lado2{
        display: none;
    }
    .caja5{
        display: none;
    }
    .caja7{
        display: none;
    }
    .caja9{
        display: none;
    }
    .caja11{
        display: none;
    }
    .Politica{
        border: 2px solid black;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 48px repeat(7, 1fr);
        grid-template-areas: 
        "apartado2  apartado2"
        "sector1    sector1"
        "sector2    sector2"
        "sector3    sector3"
        "sector4    sector4"
        "contenedor5    contenedor5"
        "contenedor6    contenedor6"
        "contenedor7    contenedor7";
    }
    .apartado2{
        height: 100%;
    }
    .sector1{

    }
    .margen1{
        display: none;
    }
    .margen2{
        display: none;
    }
    .sector2{
        pointer-events: none;
    }
    }
    
    
