@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

* {
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}



.MainPage{
    min-height: 100vh;
    width: 100%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 64px 48px  repeat(3,1fr) 84px;
    grid-template-areas: 
    "top    top     top     top     top"
    "c0    c0       c0      c0      c0"
    "c3     c1      c1      c1      c3"
    "c4     c2      c6      c7      c5"
    "c4     c8      c9      c10     c5"
    "pie    pie     pie     pie     pie";
    place-content: center;
    gap: 8px 8px;
}
/* MENU*/
.cabecera{
    grid-area: top;
    background-color: red;
}

.caja0{
    grid-area: c0;
    border: 2px solid black;
}

.Elementos__Menu{
    display: flex;
    list-style-type: none;
    gap: 100px;
    grid-gap: 100px;
    align-items: center;
    height: 100%;
}
.Menu__item a {
    color: rgb(10, 10, 10);
       
}
.Menu__item.active a {
text-decoration: underline rgb(1, 8, 15);
}
.Menu__item a:hover {
    text-decoration: underline;
}
.caja1{
    grid-area:c1;
    margin-bottom: 0.75rem
}
.img1 img{
    width:100%;
    overflow: auto;
    padding: 0;
}
.caja2{
    border:2px solid rgb(158, 209, 17);
    grid-area: c2;
    overflow: auto;
    margin-bottom: 1rem
}
.caja2 h1{
    justify-content: center;
}
.caja2 p{
    margin: 2px;
}
.caja3{
    border:2px solid rgb(19, 136, 81);
    grid-area: c3;

}
.caja4{
    border:2px solid rgb(74, 8, 117);
    grid-area: c4;

}
.caja4 img{
    width:100%;
    overflow: auto;
}
.caja5{
    border:2px solid rgb(52, 32, 141);
    grid-area: c5;
    background-image: url("/Images/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.caja6{
    border:2px solid rgb(204, 22, 143);
    grid-area: c6;
}
.caja6 img{
    width:100%;
    overflow: auto;
}
    .caja7{
    border:2px solid rgb(214, 48, 48);
    grid-area: c7;
    background-image: url(/Images/fondo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.caja8{
    border:2px solid rgb(204, 124, 18);
    grid-area: c8;

}
.caja8 img{
    width:100%;
    overflow: auto;
}
.caja9{
    border:2px solid rgb(214, 48, 48);
    grid-area: c9;
    background-color: yellowgreen;
}
.caja10{
    border:2px solid rgb(57, 33, 80);
    grid-area:c10;
}
.caja10 img{
    width:100%;
    overflow: auto;
}
.caja11{
    grid-area:c11;
    background-color: aqua;
}
.pie{
    grid-area: pie;
    background-color: black;
}
/*VISTA MOBILE*/
@media screen and (max-width: 480px){

    .MainPage{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px 48px repeat(11,1fr) 64px;
        grid-template-areas: 
        "top    top"
        "c0     c0"
        "c1     c1"
        "c2     c2"
        "c4     c4"
        "c5     c7"
        "c5     c7"
        "c6     c6"
        "c8     c8"
        "c9     c9"
        "c10    c10"
        "c11    c11"
        "pie    pie";
    }
    .caja3{
        display: none;

    }

}