.logo{
    display: flex;
    align-items: center;
    margin-right: 8px;

}
nav a{
    font-weight: 56px;
    padding-right: 8px;
    
}
a{
    text-decoration: none;
    color: rgb(250, 241, 241);
}
nav a :hover{
    color: rgb(230, 210, 38);
}