/*DISEÑO: pag: Sobre Nosotros*/
.SNbox{
    background-color: rgba(236, 228, 228, 0.856);
    padding-top: 40px;
    margin-top: 24px;
    }
    
    .SNimg{
    height: 300px;
    width: 300px;
    align-content: center;
    }

.SNbox{
    background-color: rgba(236, 228, 228, 0.856);
    padding-top: 40px;
    margin-top: 24px;

    }  
    .SNimg{
    height: 300px;
    width: 300px;
    align-content: center;
    }
