@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/*DISEÑO: enlaces y navbar*/
a {
    text-decoration: none;
    background-image: linear-gradient(rgb(223, 202, 17), rgb(221, 172, 35));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
a:hover, a:focus {
    background-size: 100% 2px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 8px;

}
nav a{
    font-weight: 56px;
    padding-right: 8px;
    
}
a{
    text-decoration: none;
    color: rgb(250, 241, 241);
}
nav a :hover{
    color: rgb(230, 210, 38);
}

/*DISEÑO "imagen principal"*/
.imgprincipal{
    max-height: 60%;
    max-height: 400px;
    }
    .txt-sobre-imagen {
    font-size: large;
    background-color: rgba(0, 0, 0, 0.034);
    text-shadow:black 1px 1px;
    height: 60%;
    width: 60%;
    font-size:larger;
    padding: 4px;
    float: under;
}
/*DISEÑO: animación imagenes*/
.Ultimas-Noticias{
    z-index: 1;
    overflow: hidden;
}
.Ultimas-Noticias img{
    
    transition: all 0.5s ease;
}
.Ultimas-Noticias :hover{
        transform: scale(1.2);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/*DISEÑO: titulo de secciones*/
.titulosección{
    padding-top: 4px;
    margin-top: 2px;
    font-size: 28px;
}
/*DISEÑO: Primera Seccion Tarjetas Seundarias*/
.tarjetitas{
    max-width: 100%;
    max-height: 10%;
    margin-top: 16px;
}
.tarjetitas p{
    font-size:14px ;
}

/*DISEÑO: Tercera Sección ECONOMIA*/
.imagenredonda{
    max-width: 140px; 
    max-height: 140px;
}

/*DISEÑO: footer flecha para subir*/
.coso{
	color:white;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:relative;
	border-color:white;
	text-decoration:none;
	transition:all .3s ease-out;
}
.coso:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em white;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.coso:hover{
	color:rgb(238, 184, 37);
	border-color:rgb(185, 161, 24);
}
.coso:hover:before{
	transform: rotate(360deg);
}
/*DISEÑO: cartas bootstrap sin bordes*/
.card{
    border-style: none;
}
/*DISEÑO: titulos clickeables*/
h5 :hover{
    background-color: black;
    transition: background-color .3s    ;
}
/*DISEÑO: pag: Sobre Nosotros*/
.SNbox{
    background-color: rgba(236, 228, 228, 0.856);
    padding-top: 40px;
    margin-top: 24px;
    }
    
    .SNimg{
    height: 300px;
    width: 300px;
    align-content: center;
    }

.SNbox{
    background-color: rgba(236, 228, 228, 0.856);
    padding-top: 40px;
    margin-top: 24px;

    }  
    .SNimg{
    height: 300px;
    width: 300px;
    align-content: center;
    }